
body::before{
    content: "";
    background: url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 250%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
h1{
    font-family: 'Baloo Bhai', cursive;
}
body p{
    font-family: cursive;
}